data_res2dinv/ert_HWT_00.dat
data_res2dinv/ert_HWT_01.dat
data_res2dinv/ert_HWT_02.dat
data_res2dinv/ert_HWT_03.dat
data_res2dinv/ert_HWT_04.dat
data_res2dinv/ert_HWT_05.dat
data_res2dinv/ert_HWT_06.dat
data_res2dinv/ert_HWT_07.dat
data_res2dinv/ert_HWT_08.dat
data_res2dinv/ert_HWT_09.dat
data_res2dinv/ert_HWT_10.dat
data_res2dinv/ert_HWT_11.dat
data_res2dinv/ert_IBOD_00.dat
data_res2dinv/ert_IBOD_01.dat
data_res2dinv/ert_IBOD_02.dat
data_res2dinv/ert_IBOD_03.dat
data_res2dinv/ert_IBOD_04.dat
data_res2dinv/ert_IBOD_05.dat
data_res2dinv/ert_IBOD_06.dat
data_res2dinv/ert_IBOD_07.dat
data_res2dinv/ert_IBOD_08.dat
data_res2dinv/ert_IBOD_09.dat
data_res2dinv/ert_IBOD_10.dat
data_res2dinv/ert_IBOD_11.dat
data_res2dinv/ert_IBOD_20.dat
data_res2dinv/ert_IBOD_21.dat
data_res2dinv/ert_IBOD_22.dat
data_res2dinv/ert_IBOD_23.dat
data_res2dinv/ert_IBOD_24.dat
data_res2dinv/ert_IBOD_25.dat
data_res2dinv/ert_IBOD_26.dat
data_res2dinv/ert_IBOD_27.dat
data_res2dinv/ert_IBOD_28.dat
data_res2dinv/ert_IBOD_29.dat
data_res2dinv/ert_IBOD_30.dat
data_res2dinv/ert_IBOD_31.dat
data_res2dinv/ert_WIL_00.dat
data_res2dinv/ert_WIL_01.dat
data_res2dinv/ert_WIL_02.dat
data_res2dinv/ert_WIL_03.dat
data_res2dinv/ert_WIL_04.dat
data_res2dinv/ert_WIL_05.dat
data_res2dinv/ert_WIL_06.dat
data_res2dinv/ert_WIL_07.dat
data_res2dinv/ert_WIL_08.dat
data_res2dinv/ert_WIL_09.dat
data_res2dinv/ert_WIL_10.dat
data_res2dinv/ert_WIL_11.dat
data_res2dinv/ert_WIL_20.dat
data_res2dinv/ert_WIL_21.dat
data_res2dinv/ert_WIL_22.dat
data_res2dinv/ert_WIL_23.dat
data_res2dinv/ert_WIL_24.dat
data_res2dinv/ert_WIL_25.dat
data_res2dinv/ert_WIL_26.dat
data_res2dinv/ert_WIL_27.dat
data_res2dinv/ert_WIL_28.dat
data_res2dinv/ert_WIL_29.dat
data_res2dinv/ert_WIL_30.dat
data_res2dinv/ert_WIL_31.dat
data_synth/ert_HWT_00.dat
data_synth/ert_HWT_01.dat
data_synth/ert_HWT_02.dat
data_synth/ert_HWT_03.dat
data_synth/ert_HWT_04.dat
data_synth/ert_HWT_05.dat
data_synth/ert_HWT_06.dat
data_synth/ert_HWT_07.dat
data_synth/ert_HWT_08.dat
data_synth/ert_HWT_09.dat
data_synth/ert_HWT_10.dat
data_synth/ert_HWT_11.dat
data_synth/ert_IBOD_00.dat
data_synth/ert_IBOD_01.dat
data_synth/ert_IBOD_02.dat
data_synth/ert_IBOD_03.dat
data_synth/ert_IBOD_04.dat
data_synth/ert_IBOD_05.dat
data_synth/ert_IBOD_06.dat
data_synth/ert_IBOD_07.dat
data_synth/ert_IBOD_08.dat
data_synth/ert_IBOD_09.dat
data_synth/ert_IBOD_10.dat
data_synth/ert_IBOD_11.dat
data_synth/ert_IBOD_20.dat
data_synth/ert_IBOD_21.dat
data_synth/ert_IBOD_22.dat
data_synth/ert_IBOD_23.dat
data_synth/ert_IBOD_24.dat
data_synth/ert_IBOD_25.dat
data_synth/ert_IBOD_26.dat
data_synth/ert_IBOD_27.dat
data_synth/ert_IBOD_28.dat
data_synth/ert_IBOD_29.dat
data_synth/ert_IBOD_30.dat
data_synth/ert_IBOD_31.dat
data_synth/ert_WIL_00.dat
data_synth/ert_WIL_01.dat
data_synth/ert_WIL_02.dat
data_synth/ert_WIL_03.dat
data_synth/ert_WIL_04.dat
data_synth/ert_WIL_05.dat
data_synth/ert_WIL_06.dat
data_synth/ert_WIL_07.dat
data_synth/ert_WIL_08.dat
data_synth/ert_WIL_09.dat
data_synth/ert_WIL_10.dat
data_synth/ert_WIL_11.dat
data_synth/ert_WIL_20.dat
data_synth/ert_WIL_21.dat
data_synth/ert_WIL_22.dat
data_synth/ert_WIL_23.dat
data_synth/ert_WIL_24.dat
data_synth/ert_WIL_25.dat
data_synth/ert_WIL_26.dat
data_synth/ert_WIL_27.dat
data_synth/ert_WIL_28.dat
data_synth/ert_WIL_29.dat
data_synth/ert_WIL_30.dat
data_synth/ert_WIL_31.dat
figure_results/HWT_00.png
figure_results/HWT_01.png
figure_results/HWT_02.png
figure_results/HWT_03.png
figure_results/HWT_04.png
figure_results/HWT_05.png
figure_results/HWT_06.png
figure_results/HWT_07.png
figure_results/HWT_08.png
figure_results/HWT_09.png
figure_results/HWT_10.png
figure_results/HWT_11.png
figure_results/IBOD_00.png
figure_results/IBOD_01.png
figure_results/IBOD_02.png
figure_results/IBOD_03.png
figure_results/IBOD_04.png
figure_results/IBOD_05.png
figure_results/IBOD_06.png
figure_results/IBOD_07.png
figure_results/IBOD_08.png
figure_results/IBOD_09.png
figure_results/IBOD_10.png
figure_results/IBOD_11.png
figure_results/IBOD_20.png
figure_results/IBOD_21.png
figure_results/IBOD_22.png
figure_results/IBOD_23.png
figure_results/IBOD_24.png
figure_results/IBOD_25.png
figure_results/IBOD_26.png
figure_results/IBOD_27.png
figure_results/IBOD_28.png
figure_results/IBOD_29.png
figure_results/IBOD_30.png
figure_results/IBOD_31.png
figure_results/WIL_00.png
figure_results/WIL_01.png
figure_results/WIL_02.png
figure_results/WIL_03.png
figure_results/WIL_04.png
figure_results/WIL_05.png
figure_results/WIL_06.png
figure_results/WIL_07.png
figure_results/WIL_08.png
figure_results/WIL_09.png
figure_results/WIL_10.png
figure_results/WIL_11.png
figure_results/WIL_20.png
figure_results/WIL_21.png
figure_results/WIL_22.png
figure_results/WIL_23.png
figure_results/WIL_24.png
figure_results/WIL_25.png
figure_results/WIL_26.png
figure_results/WIL_27.png
figure_results/WIL_28.png
figure_results/WIL_29.png
figure_results/WIL_30.png
figure_results/WIL_31.png
Nan_PhiD_response.vector
Nan_PhiD_tD_data.vector
Nan_PhiD_tD_error.vector
Nan_PhiD_tD_response.vector
negResp-Atts.vector
negResp.bms
negResp.vtk
notes.txt
resp.vec
respRez.vec
__pycache__/ert_pygimli_functions.cpython-311.pyc
__pycache__/res2dinv_converter.cpython-311.pyc
guide/plot_01_ert_2d_mod_inv.ipynb
guide/plot_02_ert_field_data.ipynb
guide/Sensitivity.ipynb
guide/simple.dat
guide/test.ipynb
guide/WennerSchlum.txt
.DS_Store
